<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="me.n1ar4.db.mapper.ClassMapper">
    <insert id="insertClass" useGeneratedKeys="true" keyProperty="cid" parameterType="ClassEntity">
        INSERT INTO class_table
            (jar_name, class_name, super_class_name, is_interface)
        VALUES
        <foreach collection="list" separator="," item="item">
            (#{item.jarName}, #{item.className}, #{item.superClassName}, #{item.isInterface})
        </foreach>
    </insert>
</mapper>