<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="me.n1ar4.db.mapper.JarMapper">
    <insert id="insertJar" useGeneratedKeys="true" keyProperty="jid" parameterType="JarEntity">
        INSERT INTO jar_table
            (jar_name, jar_abs_path)
        VALUES
        <foreach collection="list" separator="," item="item">
            (#{item.jarName}, #{item.jarAbsPath})
        </foreach>
    </insert>
</mapper>